Client/Connected Services/ServiceRecettesReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecette">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recette" nillable="true" type="tns:Recette" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecette" nillable="true" type="tns:ArrayOfRecette" />
  <xs:complexType name="Recette">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfIngredient" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recette" nillable="true" type="tns:Recette" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
</xs:schema>