Client/Connected Services/ServiceRecettesReference/ServiceRecettes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceRecettes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ServiceRecettes/ServiceRecettes/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ServiceRecettes/ServiceRecettes/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ServiceRecettes/ServiceRecettes/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecipes" />
  </wsdl:message>
  <wsdl:message name="IService_getRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getRecipeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecipeByName" />
  </wsdl:message>
  <wsdl:message name="IService_getRecipeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecipeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="IService_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredient" />
  </wsdl:message>
  <wsdl:message name="IService_AddIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReplaceIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceIngredient" />
  </wsdl:message>
  <wsdl:message name="IService_ReplaceIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecipe" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRecipeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getRecipes" message="tns:IService_getRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getRecipesResponse" message="tns:IService_getRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecipeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getRecipeByName" message="tns:IService_getRecipeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getRecipeByNameResponse" message="tns:IService_getRecipeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddRecipe" message="tns:IService_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddRecipeResponse" message="tns:IService_AddRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddIngredient" message="tns:IService_AddIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddIngredientResponse" message="tns:IService_AddIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReplaceIngredient" message="tns:IService_ReplaceIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReplaceIngredientResponse" message="tns:IService_ReplaceIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveRecipe" message="tns:IService_RemoveRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveRecipeResponse" message="tns:IService_RemoveRecipe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRecipes">
      <soap:operation soapAction="http://tempuri.org/IService/getRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecipeByName">
      <soap:operation soapAction="http://tempuri.org/IService/getRecipeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/IService/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <soap:operation soapAction="http://tempuri.org/IService/AddIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceIngredient">
      <soap:operation soapAction="http://tempuri.org/IService/ReplaceIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRecipe">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceRecettes">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/ServiceRecettes/ServiceRecettes/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>